/* Primary Button  */
.button {
    padding: 15px 42px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

/* Text Description  */
.descriptionText {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #737373;
}

/* section Header css */
.sectionHeader {
    font-weight: 700;
    font-size: 45px;
    line-height: 54.46px;
    color: #151515;
}

.h4__header {
    font-weight: 700;
    font-size: 25px;
    line-height: 30.26px;
    text-align: center;
    color: #151515;
}

/* Margin Classes */
.marginTop--10 {
    margin-top: 10px;
}

.marginTop--20 {
    margin-top: 20px;
}