/* Nav starts here --------- */
#nav {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav__menuLink {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: white ;
}

.nav__menuLink:hover {
    color: #4756DF;
}

.nav__menuLink--active {
    font-weight: 700;
    color: #4756DF !important;
}

/* nav Ends here  */

/* heroBanner starts here  */
#heroBanner {
    background: url(../images/agenc-Banner\ 1.png) no-repeat center center/cover;
}

.overlay {
    background: url(../images/Rectangle\ 625.png) no-repeat center center/cover;
    padding: 315px 0px 176px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroBanner__wrapper {
    width: 950px;
    height: 405px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.heroBanner__h1 {
    width: 950px;
    height: 180px;
    font-weight: 700;
    font-size: 75px;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.heroBanner__p {
    color: white !important;
}

.heroBanner__button {
    margin-top: 40px;
}

.heroBanner__pagination {
    position: absolute;
    bottom: -99px;
    left: 45%;
}

/* heroBanner Ends here  */

/* Our Success starts here  */
#ourSuccess {
    padding-top: 171px;
}

.ourSuccess__wrapper {
    width: 100%;
    border-radius: 20px;
    background-color: #E0FFF9;
    display: flex;
    flex-direction: row;
    padding: 85px 50px;
    align-items: center;
    justify-content: space-between;
}

.ourSuccess__left {
    display: flex;
    flex-direction: column;
}

.ourSuccess__header {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--primary-color);
}

.ourSuccess__description {
    margin-top: 15px;
    font-weight: 600;
    font-size: 35px;
    line-height: 42.36px;
    letter-spacing: 0%;
    color: #151515;
    width: 387px;
    height: 84px;

}

.ourSuccess__right {
    display: flex;
    flex-direction: row;
    gap: 110px;
}


.ourSuccess__result {
    font-weight: 700;
    font-size: 50px;
    line-height: 60.51px;
    letter-spacing: 0%;
    color: #151515;
}

.ourSuccess__result__description {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #737373;
}

/* ourSuccess section ends here  */

/* Our services section starts here  */
#ourServices {
    padding-top: 150px;
    padding-bottom: 100px;
}

.ourServices__header {
    text-align: center;
}

.ourServices__description {
    width: 609px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.ourServices__row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
}

.ourServices__cards {
    padding: 80px 46px 50px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.ourServices__card-header {
    margin-top: 40px;
}

.ourServices__card-description {
    width: 326px;
    height: 130px;
}

.ourServices__card--active {
    box-shadow: 0px 0px 10px 2px #00000040;
}

.ourServices__card--margin-top {
    margin-top: 50px ;
}

/* our services section ends here  */