/* Nav starts here --------- */
#nav {
    padding-top: 50px;
}

.nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav__menuLink {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: white;
}

.nav__menuLink--active {
    font-weight: 700;
    color: #4756DF;
}

/* nav Ends here  */